console.log('page loading');


var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);


ws.onmessage = function(message) {
  var data = JSON.parse(message.data);


  $("#served-count").html(data.handle);
  $("#raised-count").html('$' + data.handle);
  $("#pumped-count").html(data.handle + '.' + data.text)


  //$("#output-text").append("<div class=''><h2>" + data.handle + "</h4></div><div class=''><h5>" + data.text + "</h5></div>");
 
 /* 
  $("#output-text").stop().animate({
    scrollTop: $('#output-text')[0].scrollHeight
  }, 800);
*/
};

