<!DOCTYPE html>
<html>
  <head>
    <title>Tribute Display</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet" media="screen">
    <link href="assets/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:700' rel='stylesheet' type='text/css'>
  </head>
  <body>



    <div id="output-text">
      <span id="left-text">S X S W</span>
      <span id="right-text">2 0 1 5</span>



      <div class ="stats">

        <div class="stat wave day1">
          <span id="pumped-count" class="odometer"></span>
          <span>Liters</span>
        </div>

        <div class="stat no-wave">
          serves
        </div>

        <div class="stat no-wave-2">
          <span id="served-count" class="odometer"></span>
          <span>People</span>
        </div>


      </div>

    </div>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/odometer.js"></script>
    <script type="text/javascript" src="assets/js/application.js"></script>
  </body>
</html>
