* {
	box-sizing: border-box;
}

body {
	font-family: 'Cabin Condensed', sans-serif;
	background-color: #e6eef2;
	font-size: 2.5vw;
	height: 100vh;
	padding: 2.5vh 2vw;
	letter-spacing: 0px;
	overflow: hidden;
	
}

h1, h2, h3, h4, h5, h6, p, span {
	font-family: 'Cabin Condensed', sans-serif;
}

h1 {
	font-size: 6em;
	margin: 0px;
}

h2 {
	font-size: 5em;
	margin: 0px;
}

h4 {
	font-size: 1.8em;
	max-width: 80vw;
	margin: 0 auto;
}


.stats {
  position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.stat {
	padding: 25px 0px;
	text-transform: uppercase;

	display: block;
	opacity: 1;
	vertical-align: bottom;
	-webkit-text-stroke-width: 2px;
}

@-webkit-keyframes wave-animation-day1{
  from {
  	background-position: 50px 90px;
  }
  to {
  	background-position: 250px 90px;
  }
}

@-webkit-keyframes wave-animationb-day1{
  from {
  	background-position: 50px 50px;
  }
  to {
  	background-position: 250px 50px;
  }
}

@-webkit-keyframes wave-animation-day2{
  from {
  	background-position: 50px 78px;
  }
  to {
  	background-position: 250px 78px;
  }
}

@-webkit-keyframes wave-animationb-day2{
  from {
  	background-position: 50px 38px;
  }
  to {
  	background-position: 250px 38px;
  }
}

@-webkit-keyframes wave-animation-day3{
  from {
  	background-position: 50px 66px;
  }
  to {
  	background-position: 250px 66px;
  }
}

@-webkit-keyframes wave-animationb-day3{
  from {
  	background-position: 50px 26px;
  }
  to {
  	background-position: 250px 26px;
  }
}

@-webkit-keyframes wave-animation-day4{
  from {
  	background-position: 50px 54px;
  }
  to {
  	background-position: 250px 54px;
  }
}

@-webkit-keyframes wave-animationb-day4{
  from {
  	background-position: 50px 14px;
  }
  to {
  	background-position: 250px 14px;
  }
}

@-webkit-keyframes wave-animation-day5{
  from {
  	background-position: 50px 42px;
  }
  to {
  	background-position: 250px 42px;
  }
}

@-webkit-keyframes wave-animationb-day5{
  from {
  	background-position: 50px 2px;
  }
  to {
  	background-position: 250px 2px;
  }
}

@-webkit-keyframes wave-animation-day6{
  from {
  	background-position: 50px 30px;
  }
  to {
  	background-position: 250px 30px;
  }
}

@-webkit-keyframes wave-animationb-day6{
  from {
  	background-position: 50px -10px;
  }
  to {
  	background-position: 250px -10px;
  }
}


.odometer-value {
	background-image:url('http://i.imgur.com/un42jMX.png');
  -webkit-background-clip: text;

  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  background-size: 200px 150px;
  background-repeat: repeat-x;	
}

.wave{
  background-image:url('http://i.imgur.com/un42jMX.png');
  -webkit-background-clip: text;
  
  font-size: 4.5em;
  color: rgba(0,0,0,0);
  -webkit-text-stroke-color: #525f66;
  
  text-shadow: 0px 0px rgba(255,255,255,0.5);

  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;


  background-size: 200px 150px;
  background-repeat: repeat-x;
  
}

.wave.day1 {
	-webkit-animation-name: wave-animation-day1;
}

.wave.day1 .odometer-value {
	-webkit-animation-name: wave-animationb-day1;
}

.wave.day2 {
	-webkit-animation-name: wave-animation-day2;
}

.wave.day2 .odometer-value {
	-webkit-animation-name: wave-animationb-day2;
}

.wave.day3 {
	-webkit-animation-name: wave-animation-day3;
}

.wave.day3 .odometer-value {
	-webkit-animation-name: wave-animationb-day3;
}

.wave.day4 {
	-webkit-animation-name: wave-animation-day4;
}

.wave.day4 .odometer-value {
	-webkit-animation-name: wave-animationb-day4;
}

.wave.day5 {
	-webkit-animation-name: wave-animation-day5;
}

.wave.day5 .odometer-value {
	-webkit-animation-name: wave-animationb-day5;
}

.wave.day6 {
	-webkit-animation-name: wave-animation-day6;
}

.wave.day6 .odometer-value {
	-webkit-animation-name: wave-animationb-day6;
}

.no-wave {
  font-size: 2em;
  color:#8fa7b3;
  -webkit-text-stroke-color: #8fa7b3;
  padding:0px;
}

.no-wave-2 {
  font-size: 3.5em;
  color: #ffca0b;
  -webkit-text-stroke-color: #ffca0b;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  	font-family: 'Cabin Condensed', sans-serif;
  	vertical-align: text-top;
}

.odometer-value {
    width: 100%
 }	

 .odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
 	margin: -5px;
 }


#svg {
	height: 3vw;
	position: absolute;
	bottom: -1.5vw;
	width: 3vw;
	margin-left: -1.5vw;
}

#bottom-border:before {
	content: '';
	height: 1vh;
	width: calc(50% - 3vw);;
	position: absolute;
	bottom: 0px;
	left:0px;
	border-bottom: 1px solid #525f66;
}

#bottom-border:after {
	content: '';
	height: 1vh;
	width: calc(50% - 3vw);;
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-bottom: 1px solid #525f66;
}

#left-text {
	position:absolute;
	left: -3.5vw;
	top: calc(50% - 1.5vw);
	font-size: 2vw;
	transform: rotate(270deg);

}

#right-text {
	position:absolute;
	right: -3.5vw;
	top: calc(50% - 1.5vw);
	font-size: 2vw;
	transform: rotate(90deg);
}
	

#output-text {
  overflow: visible;
  height: 100%;
  width: 100%;
  z-index: 999;
  position:relative;
  
  text-transform: uppercase;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  text-align: center;

  color: #525f66;

}

#output-text:before {
	content: '';
	height: calc(50% - 5vw);
	width: 100%;
	position: absolute;
	top: 0px;
	left:0px;
	border-top: 4px solid #525f66;
	border-left: 4px solid #525f66;
	border-right: 4px solid #525f66;
}

#output-text:after {
	content: '';
	height: calc(50% - 5vw);
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-bottom: 4px solid #525f66;
	border-left: 4px solid #525f66;
	border-right: 4px solid #525f66;
}

.odometer-digit-spacer {
  width: 0.7em;
  display: inline-block;
}



