* {
	box-sizing: border-box;
}

body {
	font-family: 'Cabin Condensed', sans-serif;
	background-color: #e6eef2;
	font-size: 2.5vw;
	height: 100vh;
	padding: 2.5vh 2vw;
	letter-spacing: 0.3vw;
	overflow: hidden;
	
}

h1, h2, h3, h4, h5, h6, p, span {
	font-family: 'Cabin Condensed', sans-serif;
}

h1 {
	font-size: 6em;
	margin: 0px;
}

h2 {
	font-size: 5em;
	margin: 0px;
}

h4 {
	font-size: 1.8em;
	max-width: 80vw;
	margin: 0 auto;
}


.stats {
  position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.stat {
	padding: 25px 0px;
	text-transform: uppercase;

	display: block;
	opacity: 1;
	vertical-align: bottom;
	-webkit-text-stroke-width: 2px;
}

@-webkit-keyframes wave-animation{
  from {
  	background-position: 50px 35px;
  }
  to {
  	background-position: 250px 35px;
  }
}

.wave{
  background-image:url('http://i.imgur.com/un42jMX.png');
  -webkit-background-clip: text;
  
  font-size: 4em;
  color: rgba(0,0,0,0);
  -webkit-text-stroke-color: #525f66;
  
  text-shadow: 0px 0px rgba(255,255,255,0.5);
  -webkit-animation: wave-animation 2s infinite linear;

  background-size: 200px 300px;
  background-position: 50px 35px;
  background-repeat: repeat-x;
  
}

.no-wave {
  font-size: 2em;
  color:#8fa7b3;
  -webkit-text-stroke-color: #8fa7b3;
}

.no-wave-2 {
  font-size: 3.5em;
  color: #ffca0b;
  -webkit-text-stroke-color: #ffca0b;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  	font-family: 'Cabin Condensed', sans-serif;
}

.odometer-value {
    width: 100%
 }	


#svg {
	height: 3vw;
	position: absolute;
	bottom: -1.5vw;
	width: 3vw;
	margin-left: -1.5vw;
}

#bottom-border:before {
	content: '';
	height: 1vh;
	width: calc(50% - 3vw);;
	position: absolute;
	bottom: 0px;
	left:0px;
	border-bottom: 1px solid #525f66;
}

#bottom-border:after {
	content: '';
	height: 1vh;
	width: calc(50% - 3vw);;
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-bottom: 1px solid #525f66;
}

#left-text {
	position:absolute;
	left: -3.5vw;
	top: calc(50% - 1.5vw);
	font-size: 2vw;
	transform: rotate(270deg);

}

#right-text {
	position:absolute;
	right: -3.5vw;
	top: calc(50% - 1.5vw);
	font-size: 2vw;
	transform: rotate(90deg);
}
	

#output-text {
  overflow: visible;
  height: 100%;
  width: 100%;
  z-index: 999;
  position:relative;
  
  text-transform: uppercase;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  text-align: center;

  color: #525f66;

}

#output-text:before {
	content: '';
	height: calc(50% - 5vw);
	width: 100%;
	position: absolute;
	top: 0px;
	left:0px;
	border-top: 4px solid #525f66;
	border-left: 4px solid #525f66;
	border-right: 4px solid #525f66;
}

#output-text:after {
	content: '';
	height: calc(50% - 5vw);
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-bottom: 4px solid #525f66;
	border-left: 4px solid #525f66;
	border-right: 4px solid #525f66;
}

.odometer-digit-spacer {
  width: 0.7em;
  display: inline-block;
}



